RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . index.php [L]

ErrorDocument 404 http://nixwins.5k5.ru/404/
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
 
Header set Cache-Control "max-age=2592000"
 
</FilesMatch>
#dev
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on 